.project{
    width:var(--container-width);
    margin: 50px auto;
}
.project p{
    color:white;
}
.project hr{
    border-color:   #2d2d36b4;
    border-width: 1px;
    margin-bottom: 40px;
}
.main{
    display:flex; 
    gap:var(--gap);
}
.content{
    width: var(--project-flex-width);
    display:flex;
    padding: 10px;
    background-color: #2b2b40;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    gap:20px;
}
.content img{
    height:30px;
    width:30px;
    padding:10px;
    border-radius: 50%;
}
.content>#yellow{
    background: linear-gradient(to top, #ff7e5f 60%, #feb47b );
}
.content>#blue{
    background: linear-gradient(to top, #df68cb 30%, #4136d8 );
}
.text{
    width:335px;
}
.text>.flex p{
    font-size:20px;
    margin:0;
    margin-top: 10px;
    color: white;
}
.text p{
    font-size: 12px;
    margin:0;
    margin-top: 10px;
    margin-bottom:10px;
    color: rgba(189, 212, 207, 0.87);
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.flex>.web__link{
    display: flex;
    padding:0;
    margin:0;
    background-color: #474768;;
    align-items: center;
    justify-items: center;
    gap:4px;
    border-radius: 3px;
    padding:0 12px;
    height:20px;
}
.flex>.web__link>p{
    margin:0;
    font-size: small;
    color: rgba(189, 212, 207, 0.87);
}
.flex>.web__link>i>svg{
    margin:0;
    font-size: 15px;
    color:rgba(189, 212, 207, 0.87);
}

@media screen and (max-width:430px){
    .main{
        display:flex;
        flex-direction: column;
    }
}
