.name> p{
    color:white;
    font-size: larger;
    animation: drift 2s ease-in infinite alternate; 
}
.common{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}
.first{
    background-color:antiquewhite;
    height: 10px;
    width:150px;
    animation: first 3s ease-in infinite;

}
.second{
    background-color: antiquewhite;
    height: 10px;
    width:150px;
    animation: second 3s ease-in infinite;
}
.third{
    background-color:antiquewhite;
    height: 10px;
    width:150px;
    animation: third 3s ease-in infinite;
}
.curve{
    height: 40px;
    width: 40px;
    background-color: brown;
    animation: curve 4s ease-in infinite
}
@keyframes drift {
    0%{
        margin-left: 0;
    }
    100%{
        margin-left:200px;
    }
}

@keyframes first {
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, 15px);
    }
    100%{
        transform: translate(75px, 15px) rotate(45deg);
        
    }
    

}
@keyframes second {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(50px) scale(0);
        
    }

}
@keyframes third {
    0%{
        transform: translate(0px, 0px);
    }
    50%{
        transform: translate(0px, -15px);
    }
    100%{
        transform: translate(75px, -15px) rotate(-45deg) ;
    }

}
@keyframes curve{
    0%{
        bottom:0;
        right:0;
    }
    50%{
        bottom:100vh;
        right:50vw;
    }
    100%{
        bottom:0;
        right:100vw
    }

}
