.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080808;
  }
.container{
    width: 300px;
    height:350px;
    padding:40px;
    gap: 20px;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(54, 54, 54);
}
.container>img{
    height: 50px;
}
.container>h5{
    color: white;
    font-size: large;
    margin-top: 20px;
}
.container> form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container>form> input{
    height:15px;
    width: 200px;
    background-color: #2c2b2b;
    border:5px;
    border-radius: 3px;
    box-shadow: grey;
    padding: 10px;
}

.container>form>button{
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 5px;
}
.container>form>btn___active{
    background-color: rgb(107, 107, 245);
}
.container>form>btn___inactive{
    background-color: rgb(166, 166, 239);
}